<main class="space es-flex es-j-center es-ai-center">
  <section class="wip">
    <nav class="menubar es-flex es-j-around">
      <a href="#"><img class="icons es-flex" src="../../../assets/img/github-sign.svg" alt="github-brands"></a>
      <a href="#"><img class="icons es-flex" src="../../../assets/img/icondevs.ico" alt="github-brands"></a>
      <a href="#"><img class="icons es-flex" src="../../../assets/img/linkedin-logo.svg" alt="github-brands"></a>
    </nav>
    <div class="text es-j-around">
      <h1 class="title">Work In Progress</h1>
      <p class="more">front end programming student and collaborator in <i class="devs">Estartando Devs</i>.</p>
    </div>
  </section>
</main>