.space{
    width: 100vw;
    height: 100vh;
     background-image:url('../../../assets/img/Confetti-Doodles.svg'); 
     background-size: cover;
}

.wip{
    width: 70vw;
    height: 60vh;
     background-color: #0007;
     box-shadow: #4bb3b1 -4px 5px 1px 0px;
     border-radius: 20px; 
     border: solid #4bb3b1 1px;
}

.menubar{
    padding: 15px;
}

.icons{
    width: 30px;
    height: 30px;
    margin-left: 15px;
}

.icons:hover{
    background-color: #4bb3b1;
    border-radius: 4px;
}

.text{
    padding: 20px;
}

.title, .more {
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title {
    font-size: 30px;
}

.devs{
    color: #81c9a8;
}
